<div class="container" (contextmenu)="__elementSelectionService.select('1564253545',$event)" [ngStyle]="__elementSelectionService.getStyles('1564253545')"(click)='__elementSelectionService.clear()'>
  <app-navigation (contextmenu)="__elementSelectionService.select('1104557067',$event)" [ngStyle]="__elementSelectionService.getStyles('1104557067')"></app-navigation>
  <router-outlet (contextmenu)="__elementSelectionService.select('2050735975',$event)" [ngStyle]="__elementSelectionService.getStyles('2050735975')"></router-outlet>
</div>