<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:th="http://www.thymeleaf.org">
 
 <head>
 	<meta charset="UTF-8"/>
 	<title th:text="#{subscription-form.title}">NewsLetter Subscription</title>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
 </head>
 
<body>
	
	<form method="post" th:action="@{/subscribe}" action="/subscribe" th:object="${subscriptionForm}">
	
	<h1 th:text="#{subscription-form.heading1}">Sign up for our newsletter</h1>
	
	<h2 th:text="#{subscription-form.heading2}">get instant updates on hot products and special deals</h2>
	
	<label th:text="#{subscription-form.fullName}">Your name:</label>
	<div class="fieldErrorMessage" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Form error</div>
	<input type="text"  th:field="*{fullName}"  />
	
	
	<label th:text="#{subscription-form.email}">Email address:</label>
	<div class="fieldErrorMessage" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">Form error</div>
	<input type="email" th:field="*{emailAddress}" />
	
	<div class="formErrorMessage" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Form error</div>
	<button type="submit" th:text="#{subscription-form.submit}">Submit Registration</button>
	
	</form>
	<a th:href="@{/thank-you }">ConfirmationTest</a>
</body>
</html>