<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:th="http://www.thymeleaf.org">
 
 <head>
 	<meta charset="UTF-8"/>
 	<title th:text="#{confirmation.title}">NewsLetter Subscription</title>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
 </head>
 
 <body>
 
	 <div class="content">
	 	<h1 th:text="#{errorPage.systemError.header}"></h1>
	 	<h2 th:text="#{errorPage.systemError.message}"></h2>
	 
	 
	 </div>
 
 </body>
 </html>
 
 
