<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:th="http://www.thymeleaf.org">
 
 <head>
 	<meta charset="UTF-8"/>
 	<title th:text="#{subscription-form.title}">NewsLetter Subscription</title>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
 </head>
 
<body>
	
	<form method="post" th:action="@{/subscribe}" action="/subscribe">
	
	<h1 th:text="#{subscription-form.heading1}">Sign up for our newsletter</h1>
	<h2 th:text="#{subscription-form.heading2}">get instant updates on hot products and special deals</h2>
	
	<label th:text="#{subscription-form.fullName}">Your name:</label>
	<input type="text" name="fullName" />
	
	<label th:text="#{subscription-form.email}">Email address:</label>
	<input type="email" name="emailAddress" />
	
	<button type="submit" th:text="#{subscription-form.submit}">Submit Registration</button>
	
	</form>
	<a th:href="@{/thank-you }">ConfirmationTest</a>
</body>
</html>